*{
    margin: 0;
    background: border-box;
    padding: 0;
}
.header{
   
    background: #7F7FD5;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #91EAE4, #86A8E7, #7F7FD5);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #91EAE4, #86A8E7, #7F7FD5); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    margin-top: -73px;
}
.div-carousel{
    height: 100vh;
    padding-top: 18pc;
}
.border-navbar{
    border-bottom: 1px solid rgba(255, 255, 255, 0.904);
}